<div class="loginBG valign-wrapper">
  <div class="container">
    <div class=" grey lighten-3 rounded-box opacity-results">
      <div class="create-user ">
        <form class="create-user-form " action="/users/new" method="POST">
          <div class="row spacer"></div>
          <div class="row center">
            <h2 class="light">Create an Account</h2></div>
          <div class="row spacer"></div>
          <div class="row center">
            <div class="col s12 m4 offset-m2">
              <input type="text" name="first_name" placeholder="First Name">
            </div>
            <div class="col s12 m4">
              <input type="text" name="last_name" placeholder="Last Name">
            </div>
          </div>
          <div class="row center">
            <div class="col s12 m8 offset-m2">
              <input type="email" name="email" placeholder="email@example.com">
            </div>
          </div>
          <div class="row center">
            <div class="col s12 m8 offset-m2">
              <input type="password" name="password" placeholder="password">
            </div>
          </div>
          <div class="row center">
            <div class="col s12 m8 offset-m2">
              <input type="password" name="confirm" placeholder="confirm password">
            </div>
          </div>
          <div class="row center">
            <div class="col s12 m12">
              <input class="btn-large" type="submit" name="submit" value="Create">
            </div>
          </div>
          <div class="row spacer"></div>
        </form>
      </div>
    </div>
  </div>
</div>
