<div class="splashBG z-depth-5">
  <nav class="opacity noBorder valign-wrapper" role="navigation">
    <div class="nav-wrapper container">
      <ul class="right grey-text text-darken-4">
        <li><a href="#aboutUs"><span class="black-text ">About Us</span></a></li>
        <li><a href="/users/login" class="btn waves-effect waves-light light-green">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">About Us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div class="section noPadding valign-wrapper" id="index-banner">
    <div class="container transparent "><br><br>
      <h1 class="header center white-text light field-day-splash">Field Day</h1>
      <div class="row center ">
        <h4 class="header col s12 light white-text">The local solution to your recreational sports.</h4>
      </div>
      <div class="row center">
        <a href="/users/new" id="download-button" class="btn-large waves-effect waves-light light-green">Create an Account</a>
      </div>
      <br>
      <br>
      <br>
      <br>

    </div>
  </div>
</div>
<div class="z-depth-5" id="aboutUs">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="spacer">

        </div>
        <h1 class="center light-green-text text-lighten-2 light">What should you know about us?</h1>
        <div class="spacer"></div>
        <div class="divider"></div>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-green-text text-lighten-2"><i class="large material-icons">lightbulb_outline</i></h2>
            <h5 class="center">What is Field Day?</h5>

            <p class="light center">We are a network that connects users to recreational events in their respective area. You can either create an activity or search through other users activities based on location and activity type. We aim to create a social experience involving
              fitness and fun. </p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-green-text text-lighten-2"><i class="large material-icons">public</i></h2>
            <h5 class="center">What is the issue?</h5>

            <p class="light center">As adults we begin to have to prioritize the things we do with our spare time. We have to decide is it fitness, or maybe this time it is something social. Why have to choose one over the other? Shouldn't you be able to meet up with either
              some old friends or maybe even some new ones to enjoy some time getting the activity you want.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-green-text text-lighten-2"><i class="large material-icons">check
           </i></h2>
            <h5 class="center">Are you ready to get started?</h5>

            <p class="light center">Let's get rolling! Start creating some memories by creating an account and creating you're first event. If you want to get a feel for it then we suggest looking for an existing event and checking out some of the action.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
    <div class="divider"></div>
    <br><br>
  </div>
</div>
</div>
<footer class="page-footer light-green lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12 center">
        <h5 class="white-text">Stack Undertow</h5>
        <p class="grey-text text-lighten-4">If you want to get to know more about any of us or our App you can add us on LinkedIn.</p>
      </div>
      <div class="col l4 offset-l2 s12 center">
        <h5 class="white-text">Connect with us!</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.linkedIn.com/in/stephan-holly">Stephan Holly</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/chrisjannenga/">Chris Jannenga</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.linkedin.com/in/jlowellstafford">Jesse Stafford</a></li>
          <li><a class="grey-text text-lighten-3" href="http://www.linkedin.com/in/MichaelValadez">Michael Valadez</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by: Stack Undertow
      <a class="grey-text text-lighten-4 right" href="#!"></a>
    </div>
  </div>
</footer>
