<div class="loginBG valign-wrapper center">
  <div class="container center">
    <div class="grey lighten-3 rounded-box login-box opacity-results center">
      <div class="">
        <div class="login">
          <form class="login-form" action="/users/login" method="POST">
            <div class="row spacer"></div>
            <div class="row center">
              <h2 class="light">Login</h2></div>
            <div class="row spacer"></div>
            <div class="row center">
              <div class="col s12 m8 offset-m2">
                <input type="email" name="email" placeholder="email@example.com">
              </div>
            </div>
            <div class="row center">
              <div class="col s12 m8 offset-m2">
                <input type="password" name="password" placeholder="password">
              </div>
            </div>
            <div class="row center">
              <div class="col s12 m12">
                <div class="row spacer"></div>
                <input class="btn-large" type="submit" name="submit" value="Login">
              </div>
            </div>
            <div class="row spacer"></div>
            <div class="row spacer"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
